<div
  class="canvas-container"
  (dragover)="(false)"
  (dragend)="(false)"
  (drop)="handleDrop($event)"
>
  <canvas id="canvas" class="canvas" width="800" height="600"> </canvas>
</div>

<video id="video-player" #video width="800" height="600" muted>
  <source src="/assets/bgv.webm" type="video/webm" />

  Sorry, your browser doesn't support embedded videos.
</video>

<!-- <video #video width="240" height="180" autoplay loop>
  <source src="https://html5demos.com/assets/dizzy.mp4" />
</video> -->
